{% if page.author_profile or layout.author_profile or page.sidebar %}
  {% assign categories_max = 0 %}
  {% for category in site.categories %}
    {% if category[1].size > categories_max %}
      {% assign categories_max = category[1].size %}
    {% endif %}
  {% endfor %}
  <div class="sidebar sticky">
    <center><script>
    width = window.innerWidth;
    window_percentage = (window.innerWidth/100)*95;
    sidebar_percentage = Math.round(((window_percentage/100)*22)-28);

    if ((sidebar_percentage > 125)&&(sidebar_percentage <= 180)) {
        document.write('<ins class="adsbygoogle" ');
        document.write('style="display:inline-block;width:125px;height:125px" ');
        document.write('data-ad-client="ca-pub-9916814839938581" ');
        document.write('data-ad-slot="2008236153"></ins> ');
    } else if ((sidebar_percentage > 180)&&(sidebar_percentage <= 205)) {
        document.write('<ins class="adsbygoogle" ');
        document.write('style="display:inline-block;width:180px;height:150px" ');
        document.write('data-ad-client="ca-pub-9916814839938581" ');
        document.write('data-ad-slot="4961702550"></ins> ');
    } else if ((sidebar_percentage > 205)&&(sidebar_percentage <= 255)) {
        document.write('<ins class="adsbygoogle" ');
        document.write('style="display:inline-block;width:200px;height:200px" ');
        document.write('data-ad-client="ca-pub-9916814839938581" ');
        document.write('data-ad-slot="7915168952"></ins> ');
    } else if ((sidebar_percentage > 255)&&(sidebar_percentage <= 305)) {
        document.write('<ins class="adsbygoogle" ');
        document.write('style="display:inline-block;width:250px;height:250px" ');
        document.write('data-ad-client="ca-pub-9916814839938581" ');
        document.write('data-ad-slot="4538814152"></ins> ');
    } else if ((sidebar_percentage > 305)&&(sidebar_percentage <= 402)) {
        document.write('<ins class="adsbygoogle" ');
        document.write('style="display:inline-block;width:300px;height:250px" ');
        document.write('data-ad-client="ca-pub-9916814839938581" ');
        document.write('data-ad-slot="1868635352"></ins> ');
    }
    </script>
    <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
    </center>
  <span class="nav__sub-title">Categories</span>
  {% for i in (1..categories_max) reversed %}
    {% for category in site.categories %}
      {% if category[1].size == i %}
        <li>
          <a href="/categories/#{{ category[0] | slugify }}">
            <strong>{{ category[0] }}</strong> <span class="taxonomy__count">{{ i }}</span>
          </a>
        </li>
      {% endif %}
    {% endfor %}
  {% endfor %}
  </div>
{% endif %}
