<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/assets/js/jquery.sticky.js" type="text/javascript"></script>
<script type="text/javascript" src="/assets/js/gan.js"></script>

<!-- Beginning of the scroll-top-container -->
<style type="text/css">
@media screen and (max-width: 640px) {
  #wpfront-scroll-top-container {
    visibility: hidden;
  }
}
</style>

<style type="text/css">
@media screen and (max-device-width: 640px) {
  #wpfront-scroll-top-container {
      visibility: hidden;
  }
}
</style>

<div id="wpfront-scroll-top-container">
    <img src="/assets/images/icons/18.png" alt="" />
</div>
<script type="text/javascript">
  function wpfront_scroll_top_init() {
    if(typeof wpfront_scroll_top == "function" && typeof jQuery !== "undefined") {
      wpfront_scroll_top({"scroll_offset":100,"button_width":0,"button_height":0,"button_opacity":0.80000000000000004,"button_fade_duration":200,"scroll_duration":400,"location":1,"marginX":20,"marginY":20,"hide_iframe":false,"auto_hide":false,"auto_hide_after":2,"button_action":"top","button_action_element_selector":"","button_action_container_selector":"html, body","button_action_element_offset":0});
    } else {
      setTimeout(wpfront_scroll_top_init, 100);
    }
  }
  wpfront_scroll_top_init();
</script>
<script type='text/javascript' src='/assets/js/wpfront-scroll-top.min.js'></script>

<!-- EOF scroll-top-container -->
